main {
    background-color: red; //structure coloration
    height: 75vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .formulaire {
        background-color: $color-form;
        height: 100%;
        width: 75%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        

        .question {
            height: 18%;
            width: 100%;
            background-color: aquamarine;

            input {
                background-color: $color-input;
            }

        }
    }
}