main {
    // background-color: red; //structure coloration
    background-color: $color-background;
    height: 75vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .result {
        text-align: center;
        width: 30%;
        height: auto;
        color: white;
        font-size: 150%;

        h6 {
            font-size: 100%;
            padding-bottom: 30px;
        }
        
        .rouge {
            font-size: 150%;
            color: red;
            font-weight: bold;
        }

        .orange {
            font-size: 150%;
            color: rgb(255, 102, 0);
            font-weight: bold;
        }

        .vert {
            font-size: 150%;
            color: rgb(21, 255, 0);
            font-weight: bold;
        }

        .gold {
            font-size: 150%;
            color: gold;
            font-weight: bold;
            border: 2px solid rgb(119, 90, 18);
            padding: 20px;

            img {
                width: 30%;
                padding-top: 30px;
            }
        }

    }

    .formq { //formulaire question
        background-color: $color-form;
        height: 100%;
        width: 75%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        border: 3px solid $color-border1;
        border-radius: 15px;
        box-shadow: 0px 0px 10px 6px rgb(14, 14, 14);
        padding-top: 10px;
        padding-bottom: 10px;
        

        .question {
            height: 15%;
            width: 100%;
            background-color: $color-question;
            border-top: 3px solid $color-border2;
            border-bottom: 3px solid $color-border2;
            display: flex;
            text-align: center;
            align-items: center;

            .label {
                display: flex;
                float: left;
                height: 100%;
                width: 30%;
                text-align: justify;
                align-items: center;
                margin-left: 3%
            }

            .input {
                display: flex;
                float: right;
                height: 100%;
                width: 70%;
                align-items: center;
                justify-content: center;
                // margin-left: -3%;

                label {
                    padding-right: 10px;
                    padding-top: 10px;
                }

                .side {
                    width: 33%;
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    align-items: center;
                    margin-left: -10px; 
                    padding-top: 20px;
                    font-size: 70%;
                    text-align: left;

                }

                .a {
                    width: 23%;
                    display: flex;
                    font-size: 95%;

                     input {
                         align-self: center;
                     }
                }

                .b {
                    display: flex;
                    align-items: center;
                }
            }
        }
        
        #bouton {
            display: flex;
            align-self: center;
            justify-content: center;
            width: 20%;
        }

            // input {
            //     background-color: $color-input;
            // }

        
    }
}
