@mixin score-stamp($color){
    background-color: $color;
    border-color: black;
    border-style: dotted;
    margin-left: 50px;
    padding: 15px;
}

.scoreboard {
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: white;
    flex-direction: column;
    line-height: 100px;

    h1:after {
        content: "Première place.";
        @include score-stamp(#FFBA10);
    }

    h2:after {
        content: "Deuxieme place.";
        @include score-stamp(silver);
        
    }

    h3:after {
        content: "Troisieme place.";
        @include score-stamp(rgb(121, 66, 34));
    }

    h4:after {
        content: "Quatrieme place";
        @include score-stamp(none);
    }

    h5:after {
        content: "Cinquieme place";
        @include score-stamp(none);
    }

    h6:after {
    content: "→";
    }
}