$color-background: #16242F;
$color-form: rgb(214, 214, 214);
$color-question: rgb(148, 148, 148);
$color-input: rgb(25, 141, 97);

body {
    background-color: $color-background;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0;
}

*{margin: 0;
padding: 0;}



.page {
    width: 70%;
    height: auto;
}

@import "partials/_header";

@import "partials/_main";

@import "partials/_footer";

